.btn {
    background-color: rgb(17, 12, 82);
    font-family:'Arial Narrow', Arial, sans-serif;
    font-size: 1.3vw;
}
.card-title{
    font-size: 1.5vw;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}
.botones{
  display: inline-flex;
}
